@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Trang chủ";
}
<!DOCTYPE html>
<html lang="vi">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
        <link href="@Url.Content("~/css/style.css")" rel="stylesheet" />
    </head>
    <body>
        <div class="v13_247">
            <div class="v13_249">
                <div class="v13_250"></div>
                <div class="v13_251"></div>
                <span class="v13_252">Thông báo</span>
                <div class="home-name"></div>
                <div class="home-name"></div>
                <div class="home-name"></div>
            </div>
            <div class="v13_270"></div>
            <div class="home-name"></div>
            <div class="v13_296"></div>
            <span class="v13_297">Lợi ích</span>
            <span class="v13_298">Hướng dẫn đặt xe</span>
            <div class="v13_299"></div>
            <div class="v13_302">
                <div class="v13_303"></div>
                <span class="v13_304">
                    Liên hệ
                    Công ty Velogo
                    Giấy ĐKKD số 0108363104
                    Cơ sở KH&ĐT Hà Nội
                </span>
                <span class="v13_305">
                    Chính sách
                    Chính sách bảo mật thông tin
                    Quy chế hoạt động
                    Quy trình giải quyết khiếu nại
                    Chính sách hủy bỏ
                </span>
                <span class="v13_306">
                    Hỗ trợ
                    Hướng dẫn thuê xe
                    Hợp đồng thuê xe tự động
                    Cẩm nang cho thuê xe tự lái
                    Câu hỏi thường gặp
                </span>
            </div>
        </div>
    </body>
</html>
